source https://api.nuget.org/v3/index.json

nuget DotNet.ReproducibleBuilds 1.1.1
nuget FSharp.Collections.ParallelSeq

nuget FSharp.Core == 6.0.0
nuget BenchmarkDotNet
nuget NUnit
nuget NUnit.Analyzers
nuget Microsoft.NET.Test.Sdk
nuget NUnit3TestAdapter
nuget coverlet.collector
nuget FsUnit